h1 {
    color: rgb(240, 55, 60);
    background-color: hsl(120, 70%, 80%);
    font-family:'Courier New', Courier, monospace;
    font-size: 90px;
    font-weight: 600;
    text-align: center;
}
#instruction {
    color: #6F0054;
    background-color: aquamarine;
    font-family: sans-serif, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 400;
    text-align: left
}
p {
    color: rgb(40, 52, 19);
    background-color:beige;
    font-family: Arial, sans-serif, "Times New Roman";
    font-size: 19px;
    font-weight: 20;
    text-align: right;
}
.description {
    color: hsl(40, 34%, 90%);
    background-color: #000000;
    font-family: Impact, sans-serif, serif;
    font-size: 21px;
    font-weight: 100;
    text-align: left;
}
.ingredients.items {
    color:blanchedalmond;
    background-color: rgb(43, 210, 230);
    font-family: "Times New Roman", sans-serif, serif;
    font-size: 10px;
    font-weight: 500;
    text-align: right;
}
.ingredients {
    color: hsl(28, 43%, 72%);
    background-color: rgb(12, 32, 52);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
}
.steps {
    color:blue;
    background-color:darkblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: right;
}